<a href="https://colab.research.google.com/github/Hadalins/Aulas-Programa-o/blob/main/aula04-05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
nomes = ["Zé", "Tião", "Joaquim"]
nomes.append('Júlia')
nomes

#varios valores
outrosNomes = ['Ana', ' Zabé', 'Maria']

nomes.extend(outrosNomes)

nomes

['Zé', 'Tião', 'Joaquim', 'Júlia', 'Ana', ' Zabé', 'Maria']

In [5]:
#Crie uma lista de numeros 
numeros = [2, 3, 5, 7, 9, 22]
#remova o primeiro numero da lista 
numeros.remove(numeros[0])
#remova o ultimo numero da lista
numeros.pop()

numeros

[3, 5, 7, 9]

In [9]:
#cri uma lista de nota, e exiba da menor para maior

notas = [1, 8, 10, 9, 2, 4]
nomes = ['Ademar', 'maristênio', 'Asdrubal', 'Léo']
notas.sort()
nomes.sort()
nomes.sort(reverse=True)
nomes

['maristênio', 'Léo', 'Asdrubal', 'Ademar']

In [18]:
#Exemplo função map - cria uma nova lista com o dobro 

numeros = [1, 5, 6, 2, 3, 7]

nova_lista = list(map(lambda x : x*2, numeros))
nova_lista.sort()
nova_lista

[2, 4, 6, 10, 12, 14]

In [21]:
numDivi = list(map(lambda x : round(x/3, 2 ) , numeros))
numDivi

[0.33, 1.67, 2.0, 0.67, 1.0, 2.33]

In [19]:
#Pega cada número e soma 2 
numSoma = list(map(lambda x : x+2, numeros ))
numSoma

[3, 7, 8, 4, 5, 9]

In [22]:
#Exemplo função Filter - a partir de uma lista de nomes,

nomes = ['José', 'Joaquim', 'Sebastião', 'Tião', 'Toin', 'Maria']
new_list = list(filter(lambda x : len(x)>5, nomes))
new_list

['Joaquim', 'Sebastião']

In [28]:
#Crie uma lista de Notas, imprima as maiores que 6

notas = [2, 6, 10, 8, 9, 4, 1 ]
new_notas = list(filter(lambda x : x >= 6, notas))
new_notas

[6, 10, 8, 9]

In [29]:
nums = [2, 3, 5, 9, 15, 25, 43]
new_nums = list(map(lambda x : x*x, nums ))
new_nums

[4, 9, 25, 81, 225, 625, 1849]

In [31]:
nomes = ['josé', 'Toin', 'Zefinha', 'Maria']
new_nomes = list(map(lambda x : len(x), nomes))
new_nomes

[4, 4, 7, 5]

In [34]:
numeros = [2, 3, 6, 5, 8 ]
numerosPares = list(filter(lambda x : x%2==0, numeros))
numerosPares

[2, 6, 8]

In [45]:
from posixpath import split
nomes = ['josé', 'Toin', 'Adriana', 'Zefinha', 'Ademar', 'Maria']
nomesA = list(filter(lambda x : split(x), nomes))
nomesA

['josé', 'Toin', 'Adriana', 'Zefinha', 'Ademar', 'Maria']

In [46]:
notas = [ 7.3, 9.0, 3.5, 4.0, 10.0, 8.5 ]
aprovados = list(filter(lambda x : x>=7, notas))
aprovados

[7.3, 9.0, 10.0, 8.5]

In [ ]:
nomes = ['josé', 'Toin', 'Adriana', 'Zefinha', 'Ademar', 'Maria']